/*62px titulo*/


/*font-family: 'Baloo Thambi 2', cursive;
font-family: 'Oleo Script Swash Caps', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;700&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
* {
    /*No se desborde*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    width: 100%;
}

body {
    color: #565252;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 400;
    margin: 0 10%;
}

a {
    color: #565252;
    text-decoration: none;
}

a:hover {
    color: #B62850;
    font-weight: 700;
}

a:active {
    color: #B62850;
}

nav {
    display: inline;
}

#menu {
    float: right;
    font-size: 25px;
    text-align: right;
    padding-top: 60px;
    width: 70%;
}

#menu li {
    display: inline;
    margin: 20px;
}

.name_sitio {
    float: left;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 40px;
    font-weight: 400;
    padding-top: 40px;
    width: 30%;
}

.bienvenida {
    height: 800px;
}

.bienvenida__contenido {
    float: left;
    width: 50%;
}

.bienvenida__contenido--form {
    width: 600px;
    padding: 30px;
}

.bienvenida__contenido input {
    background: #FAFAFA;
    border-radius: 20px;
    height: 42px;
    padding: 2px 0px 0px 20px;
    width: 100%;
}

.bienvenida__imagen {
    float: right;
    width: 50%;
    text-align: center;
}

.bienvenida__imagen img {
    width: 75%;
}

.bienvenida__titulo {
    font-size: 46px;
    width: 600px;
    height: auto;
    margin-top: 15%;
    padding: 30px;
}

.bienvenida__redes {
    width: 600px;
    padding: 30px;
    text-align: center;
}

.icon {
    width: 40px;
    height: 40px;
}

footer {
    background-color: white;
    text-align: center;
    position: fixed;
    width: 80%;
    bottom: 0;
    padding: 10px;
}