@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;700&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

/**/

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.ellipse {
    display: inline-block;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -3;
}

.ellipse-footer {
    display: inline-block;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --gris: #565252;
    --magenta: #B62850;
    --body-fonts-1: 'Baloo Thambi 2', cursive;
    --body-fonts-2: 'Oleo Script Swash Caps', cursive;
    ;
}

a {
    color: var(--gris);
    text-decoration: none;
}

a:hover {
    color: var(--magenta);
    font-weight: 700;
}

a:active {
    color: var(--magenta);
}

body {
    color: var(--gris);
    font-family: var(--body-fonts-1);
    font-weight: 400;
    margin: 0 10%;
}

header {
    height: 100px;
    width: 100%;
}

nav {
    display: inline;
}

#menu {
    float: right;
    font-size: 25px;
    text-align: right;
    padding-top: 60px;
    width: 70%;
}

#menu li {
    display: inline;
    margin: 20px;
}

.name_sitio {
    float: left;
    font-family: var(--body-fonts-2);
    font-size: 40px;
    font-weight: 400;
    padding-top: 50px;
}

.bienvenida {
    height: 800px;
}

.bienvenida__contenido {
    float: left;
    width: 50%;
}

.bienvenida__contenido--form {
    width: 600px;
    padding: 30px;
}

.bienvenida__contenido input {
    background: #FAFAFA;
    border-radius: 20px;
    height: 42px;
    padding: 2px 0px 0px 20px;
    width: 100%;
}

.bienvenida__imagen {
    float: right;
    width: 50%;
    text-align: center;
}

.bienvenida__imagen img {
    width: 75%;
}

.bienvenida__titulo {
    font-size: 46px;
    width: 600px;
    height: auto;
    margin-top: 15%;
    padding: 30px;
}

.bienvenida__redes {
    width: 600px;
    padding: 30px;
    text-align: center;
}

.icon {
    width: 40px;
    height: 40px;
}

footer {
    background-color: white;
    text-align: center;
    position: fixed;
    width: 80%;
    bottom: 0;
    padding: 10px;
}